#container{
    width: 400px;
    height: 400px;   
    border: 2px solid rgb(50, 124, 184);
    margin: auto;
}

.gridRow {
    display: flex;    
}

.cell {
    background-color: "#white";    
    display: inline-block;    
}